<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <label>Search</label>
      <input class="w-100" type="text" placeholder="Filter name..." [(ngModel)]="filter" (keyup)="inputKeyup()"/>
    </div>
    <div class="col-6">
      <button class="btn btn-primary" (click)="zeroBalance()">
        Reset Balance
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <wj-flex-grid #flexgrid [itemsSource]="usersFormatted" [isReadOnly]="true" (initialized)="initGrid(flexgrid)">
        <wj-flex-grid-filter>
        </wj-flex-grid-filter>
        <wj-flex-grid-column binding="name"></wj-flex-grid-column>
        <wj-flex-grid-column binding="age"></wj-flex-grid-column>
        <!-- Formatted to dd-mm-yyyy dd:mm:ss as in document. Should it be dd-mm-yyyy hh:mm:ss? -->
        <wj-flex-grid-column binding="registered" format="dd-mm-yyyy dd:mm:ss"></wj-flex-grid-column>
        <!-- <wj-flex-grid-column binding="registered" format="dd-mm-yyyy hh:mm:ss"></wj-flex-grid-column> -->
        <wj-flex-grid-column binding="email"></wj-flex-grid-column>
        <wj-flex-grid-column binding="balance" format="c£"></wj-flex-grid-column>

      </wj-flex-grid>

    </div>
  </div>
</div>